/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.center {
  color: white;
  background-color: black;
  margin: auto;
  width: 60%;
  border: 3px black;
  border-radius: 8px;;
  padding: 10px;
  }

  html {
    font-family: 'Open Sans', sans-serif;
  }

  h1 {
    text-align: center;
  }
